<div class="footer">
	
	<div class="footer-inner">
		
		<div class="container">
			
			<div class="row">
				
    			<div class="span12">
    				&copy; 2013 <a href="http://metaneer.com">MetaNeer Labs, Inc</a>. | 
					<% if user_signed_in? %>
					  Logged in as <strong><%= current_user.email %></strong>. |
					  <%= link_to 'Edit profile', edit_user_registration_path %> |
					  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
					<% else %>
					  <%= link_to "Sign up", new_user_registration_path %> |
					  <%= link_to "Login", new_user_session_path %>
					<% end %> | <%= link_to "FAQ", faq_path %> | <%= link_to "Analytics", analytics_path %> | <%= link_to "Submit", submit_path %>
    			</div> <!-- /span12 -->
    			
    		</div> <!-- /row -->
    		
		</div> <!-- /container -->
		
	</div> <!-- /footer-inner -->
	
</div> <!-- /footer -->